.neutral {
  --click-decoration-primary: #fbf4ec;
  --click-decoration-secondary: #e7dfd8;
  --click-decoration-stroke-color: #695d48;
  --click-decoration-stroke-opacity: 0.33;
}

.primary {
  --click-decoration-primary: #ffee31;
  --click-decoration-secondary: #fcdc29;
  --click-decoration-stroke-color: #9e3700;
  --click-decoration-stroke-opacity: 0.29;
}

.click-decoration {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .content {
    height: 3rem;
    width: 3.25rem;
    opacity: 0;
  }

  .left {
    position: absolute;
    top: -1.6rem;
    left: -1.6rem;
  }

  .right {
    position: absolute;
    top: -1.6rem;
    right: -1.6rem;
    transform: scaleX(-1);
  }
}

.pop-in-enter-active {
  animation: pop-in 0.25s linear 1;
}

@keyframes pop-in {
  0% {
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    transform: translateY(0) scale(0.6);
    opacity: 1;
  }
  20%,
  50% {
    animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    transform: translate(-1rem, -1.2rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-0.8rem, -0rem) scale(0.9);
    opacity: 1;
  }
}
